<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from yasirkareem.com/beginn/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 27 Sep 2019 15:42:19 GMT -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Seguridad Oncor">
    <title>Mi Casa Segura</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/flaticon.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lity/2.3.1/lity.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="/img/favicons/site.webmanifest">
    <link rel="mask-icon" href="/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/img/favicons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Beginn">
    <meta name="application-name" content="Beginn">
    <meta name="msapplication-TileColor" content="#4265ed">
    <meta name="msapplication-TileImage" content="/img/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#4265ed">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/response.js/0.10.0/response.min.js"></script>
    <![endif]-->
</head>
<body>
<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container"><img class="navbar-brand" src="/img/logo/logo.png" alt="logo">
        <div class="navbar-toggler collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false"
             aria-label="Toggle navigation" role="button">
            <div class="menu-icon">
                <div class="toggle-bar"></div>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a class="nav-link click-close" href="#home">Inicio</a></li>
                <li class="nav-item"><a class="nav-link click-close" href="#about">App</a></li>
                <li class="nav-item"><a class="nav-link click-close" href="#features">Características</a></li>
                <li class="nav-item"><a class="nav-link click-close" href="#pricing">Precios</a></li>
                <li class="nav-item"><a class="nav-link click-close" href="/Auth/SignUp">Registro</a></li>
                <li class="nav-item"><a class="btn-get btn-sign" href="/Auth/Login">Entrar</a></li>
            </ul>
        </div>
    </div>
</nav>
<header id="home" class="header-home">
    <div class="bg"><img class="mockup" src="/img/background/dashbord.png" alt=""></div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-12 content-padding">
                    <div class="header-text">
                        <h1>Protegiendo lo que mas importa en tu vida.</h1>
                        <p>
                            Equipo para monitoreo de alarmas con un innovador sistema de rápida instalación inalámbrica
                            y una app de control y fácil administración. La seguridad de su hogar y empresa desde
                            cualquier lugar.
                        </p>
                    </div>
                    <div class="button"><a class="btn-get" href="#pricing">Comenzemos!</a>
                        <!--<a class="try" href="#">It’s free to try!</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="clients section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-6 clients-img">
                <a href="#">
                    <img src="/img/clients/5.png" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-6 clients-img">
                <a href="#">
                    <img src="/img/clients/6.png" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-6 clients-img">
                <a href="#">
                    <img src="/img/clients/7.png" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-6 clients-img">
                <a href="#">
                    <img src="/img/clients/8.png" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
<section id="about" class="use section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="use-img">
                    <div class="play">
                        <a href="https://www.youtube.com/watch?v=cMbb6Ovzh1E" data-lity>
                            <i class="fas fa-play"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 item-display">
                <div class="use-text p-left">
                    <div class="title">
                        <span>Facil de usar</span>
                        <!--<h2>El control de tu hogar desde la palma de tus manos</h2>-->
                        <h2>El control de tu hogar esta en tus manos</h2>
                    </div>
                    <div class="text">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard. Since the 1500s, when an unknown printer took a
                        galley of type and scrambled it to make a type specimen book. It has survived not only five
                        centuries remaining. </p>
                    </div>
                    <div class="button">
                        <a class="btn-main" href="#features">
                            Ver más<i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="features" class="features section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 item-display">
                <div class="features-text p-right">
                    <div class="title">
                        <span style="width:120px">&nbsp;Características&nbsp;</span>
                        <h2>Productos de calidad para nuestros clientes</h2>
                    </div>
                    <div class="text"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard. Since the 1500s, when an unknown printer took a
                        galley of type and scrambled it to make a type specimen book. It has survived not only five
                        centuries remaining. </p></div>
                    <div class="button">
                        <a class="btn-main" href="#">
                            Ver más
                            <i class="fas fa-chevron-right"></i>
                         </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="features-items">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="item">
                                <div class="item-icon"><span class="flaticon-favorites"></span></div>
                                <div class="item-text"><h3>Autogestion</h3>
                                    <p>It is a long established fact that a reader will be distracted by the readable
                                        content of a page when looking at its layout.</p></div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="item item-top">
                                <div class="item-icon"><span class="flaticon-chat"></span></div>
                                <div class="item-text"><h3>Monitoreo 24/7</h3>
                                    <p>It is a long established fact that a reader will be distracted by the readable
                                        content of a page when looking at its layout.</p></div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="item">
                                <div class="item-icon"><span class="flaticon-cloud-computing"></span></div>
                                <div class="item-text"><h3>Respaldo</h3>
                                    <p>It is a long established fact that a reader will be distracted by the readable
                                        content of a page when looking at its layout.</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="stay-updated section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="stay-img"><img src="/img/background/dashbord-stay-updated.png" alt=""></div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 item-display">
                <div class="stay-text p-left">
                    <div class="title">
                        <span>UX/UI</span>
                        <h2>Facilidad de uso y diseño excepcional.</h2>
                    </div>
                    <div class="text">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard. Since the 1500s, when an unknown printer took a
                        galley of type and scrambled it to make a type specimen book. It has survived not only five
                        centuries remaining. </p>
                    </div>
                    <div class="button">
                        <a class="btn-main" href="#">
                            Ver más
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="pricing" class="pricing section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 item-display">
                <div class="pricing-text p-right">
                    <div class="title">
                        <span>Pricing</span>
                        <h2>Escoje el plan adecuado para tu hogar</h2>
                    </div>
                    <div class="text">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard. Since the 1500s, when an unknown printer took a
                        galley of type and scrambled it to make a type specimen book. It has survived not only five
                        centuries remaining. </p>
                    </div>
                    <div class="button">
                        <p>Necesitas un plan especial?</p>
                        <a class="btn-main" href="#">
                            Escribenos
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="pricing-items">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="item">
                                <div class="item-title">
                                    <h3>Mensual</h3>
                                    <span class="price">$59</span>
                                    <p>Lorem Ipsum is simply dummy text of
                                    the printing and typesetting industry.</p>
                                </div>
                                <div class="item-option">
                                    <ul>
                                        <li>Unlimited templates</li>
                                        <li>2 members</li>
                                        <li>1 project</li>
                                    </ul>
                                </div>
                                <div class="button">
                                    <a class="btn-get free" href="#">Registrate</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="item">
                                <div class="item-title"><h3>Anual</h3> <span class="price pro">$159</span>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                                <div class="item-option">
                                    <ul>
                                        <li>Unlimited templates</li>
                                        <li>Unlimited members</li>
                                        <li>Unlimited project</li>
                                    </ul>
                                </div>
                                <div class="button"><a class="btn-get now" href="#">Registrate</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="testimonials section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="owl-carousel testimonials-items">
                    <div class="item">
                        <div class="item-text"><p>It is a long established fact that a reader will be distracted by the
                            readable content of a page when looking at its layout. The point of using Lorem Ipsum is
                            that it has a more-or-less normal.</p></div>
                        <div class="item-footer">
                            <div class="item-img"><img src="/img/testimonials/1.png" alt=""></div>
                            <div class="item-title"><h3>John Doe</h3>
                                <p>Ui/Ux Designer</p></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-text"><p>It is a long established fact that a reader will be distracted by the
                            readable content of a page when looking at its layout. The point of using Lorem Ipsum is
                            that it has a more-or-less normal.</p></div>
                        <div class="item-footer">
                            <div class="item-img"><img src="/img/testimonials/2.png" alt=""></div>
                            <div class="item-title"><h3>John Doe</h3>
                                <p>Ui/Ux Designer</p></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 item-display">
                <div class="pricing-text p-left">
                    <div class="title">
                        <span>Testimonios</span>
                        <h2>Lee las opiniones de nuestros clientes</h2>
                    </div>
                    <div class="text">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard. Since the 1500s, when an unknown printer took a
                        galley of type and scrambled it to make a type specimen book. It has survived not only five
                        centuries remaining. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="faq section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 item-display">
                <div class="faq-text p-right">
                    <div class="title"><span>FAQs</span>
                        <h2>Preguntas Frecuentes</h2></div>
                    <div class="text"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard. Since the 1500s, when an unknown printer took a
                        galley of type and scrambled it to make a type specimen book. It has survived not only five
                        centuries remaining. </p></div>
                    <div class="button">
                        <a class="btn-main" href="#">
                            Contactanos<i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div id="general" class="accordion">
                    <ul class="accordion-list accordion-drop">
                        <li class="default open">
                            <div class="drop-title"><p>Where can I get some?</p><span class="icon-holder"> <span
                                    class="icon"></span> </span></div>
                            <ul class="menu-text">
                                <li>There are many variations of passages of Lorem Ipsum available, but the majority
                                    have suffered alteration in some form, by injected humour, or randomised words which
                                    don't look even slightly believable. If you are going to use a passage of Lorem
                                    Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle.
                                </li>
                            </ul>
                        </li>
                        <li class="default">
                            <div class="drop-title"><p>What is Lorem Ipsum?</p><span class="icon-holder"> <span
                                    class="icon"></span> </span></div>
                            <ul class="menu-text">
                                <li>There are many variations of passages of Lorem Ipsum available, but the majority
                                    have suffered alteration in some form, by injected humour, or randomised words which
                                    don't look even slightly believable. If you are going to use a passage of Lorem
                                    Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle.
                                </li>
                            </ul>
                        </li>
                        <li class="default">
                            <div class="drop-title"><p>How it Works</p><span class="icon-holder"> <span
                                    class="icon"></span> </span></div>
                            <ul class="menu-text">
                                <li>There are many variations of passages of Lorem Ipsum available, but the majority
                                    have suffered alteration in some form, by injected humour, or randomised words which
                                    don't look even slightly believable. If you are going to use a passage of Lorem
                                    Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle.
                                </li>
                            </ul>
                        </li>
                        <li class="default">
                            <div class="drop-title"><p>Points of Interest</p><span class="icon-holder"> <span
                                    class="icon"></span> </span></div>
                            <ul class="menu-text">
                                <li>There are many variations of passages of Lorem Ipsum available, but the majority
                                    have suffered alteration in some form, by injected humour, or randomised words which
                                    don't look even slightly believable. If you are going to use a passage of Lorem
                                    Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle.
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="get-started section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                <div class="get-started-text">
                    <div class="title"><h2>Comencemos</h2></div>
                    <div class="text">
                        <p>Crea una cuenta, retoma el control y comienza a usar nuestros servicios.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-8 col-sm-12 col-12 item-display input-display">
                <div class="get-started-item">
                    <form action="#">
                        <div class="email">
                            <input id="get-started" type="email" name="email" placeholder="Tu dirección de correo">
                            <button class="submit" type="submit">Registrate</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="footer-about">
                    <div class="footer-img"><img src="/img/logo/logo.png" alt=""></div>
                    <div class="links">
                        <ul>
                            <li>
                                <a href="#">
                                    <span>
                                        soporte@micasasegura.com
                                    </span>    
                                </a>
                            </li>
                            <li>+(57) 320 5922101</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="general">
                    <div class="footer-title"><h3>General</h3></div>
                    <div class="links">
                        <ul>
                            <li><a href="#">App</a></li>
                            <li><a href="#">Características</a></li>
                            <li><a href="#">Precios</a></li>
                            <li><a href="#">Testimonios</a></li>
                            <li><a href="#">Preguntas Frecuentes</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="more">
                    <div class="footer-title"><h3>Más</h3></div>
                    <div class="links">
                        <ul>
                            <li><a href="#">Cambios</a></li>
                            <li><a href="#">Soporte</a></li>
                            <li><a href="#">Chat</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="our-address">
                    <div class="footer-title"><h3>Nuestra Dirección</h3></div>
                    <div class="text"><p>La Castellana, Cr 49c #93 - 8,<br>Bogotá</p></div>
                    <div class="social">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="row">
                <div class="bottom-links col-lg-6 col-md-6 col-sm-12 col-12">
                    <ul>
                        <li><a href="#">Privacidad</a></li>
                        <li><a href="#">Soporte</a></li>
                        <li><a href="#">Terminos</a></li>
                    </ul>
                </div>
                <div class="copy col-lg-6 col-md-6 col-sm-12 col-12">
                    <p>Copyright © 2019 Todos los derechos reservados</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="scroll-top"><span class="animated fade-right"><i class="fas fa-chevron-up"></i></span></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lity/2.3.1/lity.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/script.js"></script>
</body>
</html>